<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KipresDao">
 
<insert id="insertNotice" parameterType="org.kipres.www.domain.Notice">
	<selectKey keyProperty="ntNum" resultType="int" order="BEFORE">
		SELECT kipres_notice_seq.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO KIPRES.NOTICE(
		nt_num,
		nt_title,
		nt_contents,
		nt_insert_date
		<if test="ntUpdate != null and ntUpdate != '' and ntUpdate != 0">,nt_update</if>
		<if test="ntHit != null and ntHit != '' and ntHit != 0">,nt_hit</if>
		<if test="userNum != null and userNum != '' and userNum != 0">,user_num</if>
		)
	VALUES(
		#{ntNum},
		#{ntTitle},
		#{ntContents},
		to_char(sysdate, 'YYYY-MM-DD')
		<if test="ntUpdate != null and ntUpdate != '' and ntUpdate != 0">,#{ntUpdate}</if>
		<if test="ntHit != null and ntHit != '' and ntHit != 0">,#{ntHit}</if>
		<if test="userNum != null and userNum != '' and userNum != 0">,#{userNum}</if>
	)
</insert>

<select id="selectCount" resultType="Integer">
	SELECT COUNT(*) 
	FROM KIPRES.NOTICE
</select>

<select id="selectNotice" resultType="org.kipres.www.domain.Notice">
	SELECT * 
	FROM KIPRES.NOTICE
	ORDER BY nt_num DESC
</select>

<select id="selectNotice2" resultType="org.kipres.www.domain.Notice" parameterType="org.kipres.www.util.BPaging">
    SELECT nt_num, nt_title, nt_insert_date, nt_hit
    	FROM (
      	SELECT nt_num, nt_title, nt_insert_date, nt_hit
      	, ROW_NUMBER() OVER(ORDER BY nt_num DESC) KI_NOTICE_SEQ
     FROM KIPRES.NOTICE)
     WHERE KI_NOTICE_SEQ BETWEEN ${rowStart} AND ${rowEnd}
     ORDER BY nt_num
</select>

<select id="selectNoticeOne" resultType="org.kipres.www.domain.Notice">
	SELECT *
	FROM KIPRES.NOTICE
	WHERE nt_num = #{ntNum}
</select>

<update id="updateNoticeRead">
	UPDATE KIPRES.NOTICE
	SET nt_hit = nt_hit + 1
	WHERE nt_num=#{ntNum}
</update>

<delete id="deleteNotice">
	DELETE FROM KIPRES.NOTICE
	WHERE nt_num=#{ntNum}
</delete>

<update id="modifyNotice" parameterType="org.kipres.www.domain.Notice">
	UPDATE KIPRES.NOTICE
	SET nt_title = #{ntTitle}, nt_contents = #{ntContents}
	WHERE nt_num = #{ntNum}
</update>

<insert id="insertFile" parameterType="org.kipres.www.domain.Path">
 	<selectKey keyProperty="fileNum" resultType="int" order="BEFORE">
		SELECT kipres_path_seq.NEXTVAL FROM DUAL
	</selectKey>

	INSERT INTO KIPRES.PATH
	(
		file_num,
		file_path,
		file_name,
		file_random_name,
		file_type
	)
	VALUES
	(
		#{fileNum},
		#{filePath},
		#{fileName},
		#{fileRandomName},
		#{fileType}
	)
	
</insert>

<select id="selectFile" parameterType="org.kipres.www.domain.Path" resultType="hashmap">
	SELECT *
	FROM KIPRES_PATH
	WHERE FILE_NUM = #{fileNum}
</select>

<!-- <select id="selectUserId" parameterType="org.kipres.www.domain.UserDB" resultType="org.kipres.www.domain.UserDB">
	SELECT *
	FROM USERDB
	WHERE USERID = #{userId}
</select> -->

 <!--회원가입 -->
<insert id="insertUser" parameterType="org.kipres.www.domain.UserDB">
	<selectKey keyProperty="userNum" resultType="int" order="BEFORE">
		select KIPRES_USER_DB_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO KIPRES.USER_DB(
		user_num,
		user_id
		user_pw,
		user_name,
		user_hp,
		user_mail,
		user_grade
		)
	VALUES(
		#{userNum},
		#{userId},
		#{userPw}
		#{userName},
		#{userHp},
		#{userMail},
		#{userRank}
		)
</insert>

<select id="selectUserBefore" parameterType="org.kipres.www.domain.UserDB">
	SELECT *
	FROM KIPRES.USER_DB
	WHERE user_id = #{userId}
</select>

</mapper>